<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <title><%- title %> </title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;900&display=swap" rel="stylesheet">

  <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
  <!-- <script src="/socket.io/socket.io.js"></script> -->

</head>

<body class="flex flex-col h-screen bg-eerie-300 font-nunito">

  <%- body %>

  <footer class="fixed bottom-0 w-full mt-auto bg-eerie-500">
    <nav>
      <ul class="flex items-center text-5xl justify-evenly">

        <li>
          <a href="/user/contacts" class="flex">
            <i class="bx bxs-message-alt-add text-lime-500"></i>
          </a>
        </li>

        <li>
          <a href="/user" class="flex">
            <i class='bx bxs-message-alt-dots text-lime-500'></i>
          </a>
        </li>

        <li>
          <a href="/user/profile" class="flex">
            <i class='bx bxs-user-pin text-lime-500'></i>
          </a>
        </li>

      </ul>
    </nav>
  </footer>

</body>

</html>