<main class="flex flex-col items-center gap-4 p-2">

  <div class="w-full p-2 text-2xl font-semibold text-center text-white border-4 rounded-lg border-lime-500 bg-stone-900/40">
    <form action="/friendship/add-friend" method="post" class="flex flex-col gap-2">
      <label for="friendUsername">Agrega un amigo</label>
      <input class="px-2 py-1 text-black outline-none rounded-xl" type="text" id="friendUsername" name="friendUsername" required placeholder="Nombre de usuario...">
      <button class="px-4 mx-auto text-black rounded-full bg-lime-500 w-max">Enviar</button>
    </form>
  </div>

</main>